.payment {
    background-color: #fff;
}

.payment-container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rga(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payment-container > h1 > a {
    text-decoration: none;
}

.payment-section {
    display: flex;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid lightgray;
}

.payment-title {
    flex: 0.3;
    font-weight: 300;
    font-size: 8px;
}

.payment-address, .payment-items, .payment-details {
    flex: 0.7;
}

.payment-addressInput {
    width: 300px;
}

.payment-details > form {
    max-width: 400px;
}

.payment-details > h4 {
    padding-bottom: 20px;
}

.payment-UserLogin {
    background: #571d02;
    border-radius: 2px;
    border: 1px solid;
    border-color: #991d14 #d13126 #e8736b;
    color: #fff;
    margin-top: 10px;
    padding: 4px;
    padding-bottom: 6px;
    width: 100%;
    height: 30px; 
}

.payment-UserLogin:hover {
    text-decoration: none;
    background: #fff;
    color: #571d02;
}

.payment-priceContainer > button {
    background: #571d02;
    border-radius: 2px;
    border: 1px solid;
    border-color: #991d14 #d13126 #e8736b;
    color: #fff;
    margin-top: 10px;
    padding: 4px;
    padding-bottom: 6px;
    width: 100%;
    height: 30px;
}